<!DOCTYPE html>
<html>  
  <head>
    <title>{{ site.title }}</title>
    <meta charset='utf-8'/>
    <meta name='description' content='Documentation website'/>
    <meta name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1'/>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'/>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href='assets.css' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  </head>
  <body>
    <div class="container">

      {% assign rows = content | split:"@row" %}
      {% for row in rows %}
        <div class="row" id="row-{{ forloop.index }}">

          {% assign columns = row | split:"@column" %}
          {% for column in columns %}
            <div class="col-sm-{{ 12 | divided_by:forloop.length }}">
              {{ column }}
            </div>
          {% endfor %}

        </div>
      {% endfor %}

    </div>
  </body>
</html>
